extends layout

block content
	.jumbotron
		.container
			h1 How may I help you?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce orci nulla, vehicula ullamcorper lobortics sed, luctus quis lacus.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
	.container
		.row
			.col-md-4
				h2 About Us
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Service
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In touch
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
				a.btn.btn-default(href='#') View Details


